<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pool.me"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.SEND_SMS">
	    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity
            android:name=".Create_Account"
		    android:screenOrientation="portrait">
        </activity>
        <activity
        	android:name=".Create_Account_2"
        	android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".FB_Integration"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".Find_Pool"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:label="@string/app_name"
            android:name=".Login"
		    android:screenOrientation="portrait">
		    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        
        <activity
            android:name=".Messages"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".My_Pool"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".New_Message"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".Profile_Contact_Submenu"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".Profile_Travel_Submenu"
		    android:screenOrientation="portrait">
        </activity>  
        
        <activity
            android:name=".Profile_Vehicle_Subemnu"
		    android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".Rewards"
            android:screenOrientation="portrait">
        </activity>
        
       	<activity
       	    android:name=".domain.Route"
       	    android:screenOrientation="portrait">
       	</activity>
       	<activity
       	    android:name=".Create_Pool"
       	    android:screenOrientation="portrait">
       	</activity>
       	<activity
       	    android:name=".Search_Pool"
       	    android:screenOrientation="portrait">
       	</activity>
       	
       	
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    

</manifest>